{% extends 'Page/main.html'%}
{% load static %}
{%block content %}
<section>
        <div class="container pt-5">
            <div class="row py-3">
                {% for product in products %}
                <div class="col-md-6 col-lg-4">
                    <div class="card card-border-0">
                    <img class="img-fluid size w-100" src="{{ product.picUrl }}">
                        <div class="card-body">
                            <h4>{{ product.name }}</h4>
                            <hr>
                            <button data-product={{product.id}} data-action="add"
                                    class="btn btn-outline-primary add-btn update-cart">Add to cart</button>
                            <button class="btn btn-outline-danger add-btn">Like</button>
                            <p style="display:inline-block; float:right; ">Price ${{ product.price|floatformat:2 }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock content %}